.pagination-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    max-width: 50%;
    max-height: 39px;
    gap: 10px;

}

.pagination-body {
    display: flex;
    flex-direction: row;
    gap: 15px;

    width: 100%;
    height: 100%;
    overflow-x: scroll;

    margin-top: 2rem;
    padding-bottom: 15px;
}
