#login {
    min-width: 33%;
    max-width: 75%;
    width: fit-content;
    padding: 15px;
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: auto;
    margin-top: 100px;
    padding-top: 1rem;
    background-color: rgba(200, 200, 200, 0.6);
}

.form-section {
    display: flex;
    flex-direction: column;

}

.text-input {
    outline: none;
    border: 0;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.send-input {
    background-color: #EE0000;
    border: 0;
    
}

.error-msg {
    color: red;
}